<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{ DB_host }}';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{ DB_name }}';
$DB['USER']     = '{{ DB_user }}';
$DB['PASSWORD'] = '{{ DB_pass }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = 'Server';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
